@font-face {
	font-family: 'circular';
	src: url('../fonts/Circular-Std-Bold.ttf');
}

@font-face {
	font-family: 'visuelt';
	src: url('../fonts/VisueltPro-Light.ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'visuelt';
	src: url('../fonts/VisueltPro-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'visuelt';
	src: url('../fonts/VisueltPro-Medium.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'visuelt';
	src: url('../fonts/VisueltPro-Bold.ttf');
	font-weight: 800;
}
