@import './normalize.scss';
@import './variables.scss';
@import './font.scss';

button {
	outline: none;
	padding: 18px 60px;
	font-family: visuelt;
	font-weight: 500;
	background-color: black;
	border: none;
	color: #ffffff;
	width: fit-content;
}

.container {
	max-width: 1300px;
	width: 90%;
	margin: auto;
}
